body {
  min-width: 1040px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.container {
  width: 1100px;
  margin: 0 auto;
  
}
.containerimg {

  width: 1260px;
  background-color: gray;
  margin: 0px;
  
}
.cat-reference img {
  display: block;
  width: 1000px;
  height: 700px;
  background-color: gray;
  margin: 0 auto;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  min-height: 190px;
  padding-top: 35px;
  
}

.page-header,
.page-footer {
  color: #c3c3c3;
  background-color: #363636;
}

.header-top {
  margin-bottom: 0px;
}
.header-logo {
  float: left;
  
}
.arrow {
  position: relative;
  top: 30px;
  right: 60px;
  font-size: 20px;
}
.header-logo p {
  padding: 0;
  margin: 0;
  
}
.main-nav {
  float: left;
  width: 520px;
  margin: 0;
  margin-top: 18px;
  margin-left: 125px;
  padding: 0;
  list-style: none;
}

.main-nav li {
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}



.promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: left;
}

.promo {
  color: white;
  text-decoration: none;
  padding: 100px 0 0 330px;
}
.promo p {
  padding: 0 0 20px 165px ;
  margin: 0px;
}
.promo .imz {
  padding: 0 0 20px 50px ;
}

.page-footer {
  padding-top: 45px;
  padding-bottom: 50px;
}

.
.footer-middle {
  margin-bottom: 50px;
  padding-top: 50px;
}

.footer-middle,
.footer-bottom {
  border-top: 1px solid #5e5e5e;
}

.footer-menu {
  float: left;
  margin-right: 20px;
}

.footer-menu h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.models-table td {
  border: solid 2px black;
  width: 100px;
  text-align: center;
}
table {
  border-collapse: collapse;
}
.m72wall {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.m72wall img{
  width: 628px;
  height: 390px;
  padding: 0px;
  margin: 0px;
}
.containerwall {
  width: 1260px;
  padding: 0px;
  margin: 0px;
  background-color:#363636;  

}
.image img {
  max-width: 1260px
  
}

a {
  color: gray;
}
.small img {
 display: block;
 margin: 0 auto;
}
